<div class="modal-header">
  <h4 class="modal-title pull-left">{{ recipe.mealTitle }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img class="mealImage" [src]="recipe.mealImage" />
  <p>Ingredients</p>
  <ul *ngFor="let ingredient of recipe.ingredients">
    <li>{{ ingredient.measure }} {{ ingredient.ingredient }}</li>
  </ul>
  <p>{{ recipe.instructions }}</p>
</div>
