<h3>Mythology Quiz</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div *ngFor="let quizItem of quizItems; index as i">
    <div class="panel panel-default">
      <div class="panel-heading" [innerHTML]="quizItem.question"></div>
      <div class="panel-body">
        <div
          *ngFor="let quizItemAnswer of quizItem.quizItemAnswers; index as j"
          class="radio"
        >
          <label [ngClass]="{'correct': quizItemAnswer.isCorrect, 'incorrect': !quizItemAnswer.isCorrect}"
            ><input

              type="radio"
              name="{{ 'formControl' + i }}"
              formControlName="{{ 'formControl' + i }}"
              [value]="quizItemAnswer"
              (change)="submit()"
            />{{ quizItemAnswer.value }}</label
          >
        </div>
      </div>
    </div>
  </div>
</form>
