<div class="flip-container">
  <span
    class="arrow up"
    (click)="
      flippedDown
        ? (flippedDown = false)
        : !flippedUp
        ? (flippedUp = true)
        : (flippedUp = true)
    "
  ></span>
  <span
    class="arrow left"
    (click)="horizontallyflipped = !horizontallyflipped"
  ></span>
  <span
    class="arrow right"
    (click)="horizontallyflipped = !horizontallyflipped"
  ></span>
  <span
    class="arrow down"
    (click)="
      flippedUp
        ? (flippedUp = false)
        : !flippedDown
        ? (flippedDown = true)
        : (flippedDown = true)
    "
  ></span>
  <div
    class="flippable"
    [ngClass]="{
      flippedHorizontal: horizontallyflipped,
      flippedUp: flippedUp,
      flippedDown: flippedDown
    }"
  >
    <img [src]="imageUrl" />
  </div>
</div>
