/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  width: 600px;
  height: 400px;
}

/* flip speed goes here */
.flippable {
  /* transform-style: preserve-3d; */
  transition: 1s;
  position: relative;
}

/* Arrow Styles */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow:hover {
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 587px;
  top: 200px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  left: -23px;
  top: 200px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: relative;
  left: 295px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: 419px;
  left: 268px;
}
