/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipped {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 600px;
	height: 400px;
}

/* flip speed goes here */
.flipped {
	transition: .8s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 587px;
  top: 200px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  left: -23px;
  top: 200px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: relative;
  left: 295px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: 423px;
  left: 268px;
}