.glyphicon:hover {
  cursor: pointer;
}

.glyphicon-edit:hover {
  color: lightseagreen;
}

.glyphicon-remove:hover {
  color: tomato;
}

.glyphicon {
  padding-right: 5px;
  float: right;
  color: lightgray;
  position: relative;
  top: -52px;
}

.modal-body button {
  margin-left: 3px;
  margin-right: 3px;
}

:host >>> .tooltip-inner {
  background-color: gainsboro;
  color: black;
}
:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
  border-top-color: gainsboro;
}

.edit {
  color: lightgray;
}
