.glyphicon:hover {
  cursor: pointer;
}

.glyphicon-edit:hover {
  color: lightseagreen;
}

.glyphicon-remove:hover {
  color: tomato;
}

.glyphicon {
  padding-right: 5px;
  float: right;
  color: lightgray;
  position: relative;
  top: -52px;
}
