<div class="recipe-list">
  <section *ngIf="vm$ | async as vm">
    <input
      type="text"
      class="form-control"
      [formControl]="searchTerm"
      placeholder="Search Recipes"
    />

    <div
      *ngFor="let recipe of vm.recipes; index as i"
      (click)="openModalWithComponent(recipe)"
      class="media"
    >
      <div class="media-body">
        <h4 class="media-heading">{{ recipe.mealTitle }}</h4>
        <span class="mealArea"> ({{ recipe.mealArea }})</span>
        <p>
          {{ recipe.ingredients[0].ingredient }},
          {{ recipe.ingredients[1].ingredient }},
          {{ recipe.ingredients[2].ingredient }}...
        </p>
      </div>
      <div class="media-right">
        <img
          [src]="recipe.mealImage + '/preview'"
          class="media-object"
          style="width: 60px;"
        />
      </div>
    </div>
  </section>
</div>
