.media:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mealImage {
  height: 250px;
  width: 250px;
  float: right;
}

.mealArea {
  display: inline;
  font-style: italic;
}

.media-heading {
  display: inline;
}

.recipe-list {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
