<p>
  I am currently learning Angular and more front-end development in general. In
  this project, I am working through the app ideas listed here:
</p>

<ul>
  <li>
    <a
      target="_blank"
      href="https://blog.bitsrc.io/15-app-ideas-to-build-and-level-up-your-coding-skills-28612c72a3b1"
      ><em>15 App Ideas to Build and Level Up your Coding Skills</em></a
    >
  </li>
</ul>
<p>
  Listed and described below are the ones I've completed so far. These are also
  in the navigation menu above. :)
</p>
<p>This project was deployed using Azure DevOps Pipelines.</p>
<hr />

<h4><a [routerLink]="['../timer']">Countdown Timer</a></h4>
<p>Goal:</p>
<ul>
  <li>Enter event data in form to view a count down to that event.</li>
</ul>
<p>What I learned:</p>
<ul>
  <li>Observables</li>
  <li>RxJs Operators</li>
  <ul>
    <li>Pipe</li>
    <li>Map</li>
    <li>Take</li>
  </ul>
  <li>Ngx-bootstrap</li>
  <ul>
    <li>Date picker</li>
    <li>Time picker</li>
  </ul>
</ul>
<hr />
<h4><a [routerLink]="['../flip-image']">Flip Image</a></h4>
<p>Goal:</p>
<ul>
  <li>Be able to flip an image right/left/up/down</li>
</ul>
<p>What I learned:</p>
<ul>
  <li>CSS</li>
  <ul>
    <li>Transform</li>
    <li>Transition</li>
    <li>Perspective</li>
  </ul>
  <li>The “Aha!” moment:</li>
  <ul>
    <li>
      Realizing that rotating 360 degrees yields the same result as 0 degrees
    </li>
  </ul>
</ul>
<hr />
<h4><a [routerLink]="['../notes']">Notes</a></h4>
<p>Goal:</p>
<ul>
  <li>Create/edit/delete notes, having them persist beyond session</li>
</ul>
<p>What I learned:</p>
<ul>
  <li>Local Storage</li>
  <li>Ngx-Bootstrap</li>
  <ul>
    <li>Modal</li>
    <li>Tooltip</li>
  </ul>
  <li>Reactive Forms</li>
</ul>
<hr />
<h4><a [routerLink]="['../recipes']">Recipes</a></h4>
<p>Goal:</p>
<ul>
  <li>List recipes and click to display recipe card. Filter recipe list.</li>
</ul>
<p>What I learned:</p>
<ul>
  <li>Getting data from an API</li>
  <li>Transforming/mapping data</li>
</ul>
<hr />
<h4><a [routerLink]="['../quizzler']">Quizzler</a></h4>
<p>Goal:</p>
<ul>
  <li>
    Create a quiz that will receive user responses and display the quiz score
  </li>
</ul>
<p>What I learned:</p>
<ul>
  <li>Dynamically created Form Controls</li>
  <li>Converting Objects to Arrays</li>
  <li>Randomizing order of elements in an Array</li>
</ul>
