.timer-readout div {
  font-size: xx-large;
  color: red;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.timer-label div {
  font-size: x-small;
  color: black;
  text-align: center;
}

.event-name {
  text-align: center;
}
