<div class="col-sm-2"></div>
<div class="col-sm-6">

      <div class="row timer-readout">
        <div class="col-sm-3">{{ service.days$ | async }}</div>
        <div class="col-sm-3">{{ service.hours$ | async }}</div>
        <div class="col-sm-3">{{ service.minutes$ | async }}</div>
        <div class="col-sm-3">{{ service.seconds$ | async }}</div>
      </div>
      <div class="row timer-label">
        <div class="col-sm-3">Days</div>
        <div class="col-sm-3">Hours</div>
        <div class="col-sm-3">Minutes</div>
        <div class="col-sm-3">Seconds</div>
      </div>

</div>  
